/* Links */
a,
a:active,
a:hover,
a:focus,
a:visited {
     color: #C04384;
}

/* Whitespace */
.section {
    line-height: 1.7;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.7;
    margin-bottom: 0.5em;
}

h1:before {
    /* Scrollspy overwrites margin/padding-top, so need to use :before */
    display: block;
    content: "";
    margin-top: 1.2em;
}

/* Side menu */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #C04384;
    border-color: #C04384;
}
